<html>
<head>
    <title>
       aafro-travels blog||<%= post[0].topic %>
    </title>
    <meta charset="UTF-8">
  <meta name="description" content="africa travels">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
</head>
<link rel="stylesheet" href="/style.css">
<body>

<nav class="nav">
    
        <div class="nav-icon center">
            <div class="nav-icon1"></div>
            <div class="nav-icon2"></div>
            <div class="nav-icon2"></div>
        </div>
        <div class="nav-wrapper center" id="nav-wrapper">
    
            <div class="nav-items  center"  id="nav-items">
                <ul id="ull" class="ullist "><li><a href="/">Home</a></li><li><a href="/aboutus">about us</a></li><li><a href="/blog">blog</a></li><li>
                    <a href="/contactus">Contact us</a></li>
                    <% if(!user){%>
                    <li><a href="/register">register</a></li><li><a href="/login">login</a></li>
                   
                   <% }else{%>
                    <li> <a href="/logout">logout</a></li><li><a href="/profile">my profile</a></li>
                <section2 class="center .userheader" style="color: rgb(52, 34, 131); text-transform:uppercase;">(welcome, <%=user.firstname%>)</section2>
                
                   
                   <% }%>
                </ul>
               </div>
        </div>
</nav>
<header>
    
</header>

<main  class="main ">
   <div class=" logodiv center"> <img class="logo" src="/image/logo.JPG"></div>
    <h2 class="center headtext"> lets take you to your dream destination, your satisfaction is our passion</h2>
    <div class="destinations3  center" >
       
        <div class="blogdiv center4">
            <section class="center signuphead">
            <h2 style="font-size: 25px;" class="headtopic">Afro Travel Blog---- <%= post[0].topic.substring(0,20) %></h2>
                
               
               
                
            </section>
            <p class="blogposts">Topic:</p>
           <a href="/blog/newpost"> <p class="createtopic"> Create New Topic </p></a>
             <div class="center " style="position:absolute;top:3.4rem;  width: 100%; background-color:rgb(253, 247, 247); height: 2px;">
                <% if ( errorMessage.length > 0 ) { %>
                    <h3 class="flashmessage center" style="color: rgb(245, 0, 49);"> <%= errorMessage %> </h3>
                  <% } %>
                  <% if ( successMessage.length > 0 ) { %>
                    <h3 class="flashmessage center" style="color: rgb(116, 253, 116)"> <%= successMessage %> </h3>
                  <% } %>
            </div>
          
            <section class="postdivs" >
                <ul>
                    <% for (var i=0;i<post.length;i++){%>
                        
                        
                    <a href="/blog/<%= post[i].id %>"></a><h1 class="headtopic center" ><%= post[i].topic %><small style=" color: white">&nbsp;    &nbsp;   ---(Started by <%= post[i].names %>)</small></h1></a>
                    <p style=" color: rgb(52, 34, 131);"><%= post[i].message %></p>
                        <% if( post[i].comments.length > 1){%>
                            <!-- <small style=" color: rgb(52, 34, 131);"><%= post[i].comments.length %> comments</small>  -->
                           <% }else{%>
                            <!-- <small style=" color: rgb(52, 34, 131);"><%= post[i].comments.length %> comment</small> -->
                    <%}}%>
                </ul>
               
        <div  style="width: 100%; height: 1px; background: rgb(44, 73, 55);"></div>
        <section class="commentbox"> 
            <h2 style=" color: rgb(243, 66, 66);">Comments (<%= post[0].comments.length %>)</h2>
            <div>
                
                    <% for (var i=0;i<post[0].comments.length;i++){%>
                        <small class="headtopic" style="color: white;"><%= post[0].comments[i].postedby %> said--</small>
                            <p style="padding-left: 1rem; color: rgb(52, 34, 131);"><%= post[0].comments[i].comments %></p> 
                            
                            <div style="width:100%; height: 1px; background: rgba(68, 67, 64, 0.5);"></div>
                        <%}%>
                    

            </div>
        </section>
        <section class="blogreply center4">
            <form action="<%`/blog/${post[0]._id}`%>" class="signupclass3 center3 " method="POST">
        
                <section>
                    <div class="loginform4">
              
                      <label for="comments">reply to :<i style="  color: rgb(52, 34, 131);"><%= post[0].topic.substring(0,20) %></i></label>
                      <textarea style="background-color:rgb(52, 34, 131); color: blanchedalmond;" type="text"name="comments" rows="4" cols="50" required></textarea>
                      <label for="user">your name</label>
                      <%if (!user){%>
                          <input  style="background-color:rgb(52, 34, 131); color: blanchedalmond;" type="text" name="user" placeholder="name" required value="Anonymouse">
                          <%}else{%> 
                              <input   style="background-color:rgb(52, 34, 131); color: blanchedalmond;" type="text" name="user" required value="<%= user.firstname %>" readonly="readonly">
                              <%}%>
              
                    </div>
                </section>
                <section class=" ">
                  <button  class="signinbtn btn2" type="submit">send</button>
                      
              </section> 
                      </form>
          
                    </section>


    </section>
  
    <!-- <div style="width:100%;"></div> -->
     
   
    </div>
</div>
  



</main>
<footer>
    <p class="center">designed by martins chukwuma(talk2mat2@yahoo.com)</p>
    <p class="center">all right reserved, 2020</p>
</footer>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>