<html>
<head>
    <title>
       Afro travel||my profile
    </title>
    <meta charset="UTF-8">
  <meta name="description" content="africa travels">
    <meta name="viewport" content="width=device-width, initial-scale= 1.0">
</head>
<link rel="stylesheet" href="/style.css">
<body>

<nav class="nav">
    
        <div class="nav-icon center">
            <div class="nav-icon1"></div>
            <div class="nav-icon2"></div>
            <div class="nav-icon2"></div>
        </div>
        <div class="nav-wrapper center" id="nav-wrapper">
    
            <div class="nav-items  center"  id="nav-items">
                <ul id="ull" class="ullist "><li><a href="/">Home</a></li><li><a href="/aboutus">about us</a></li><li><a href="/blog">blog</a></li><li>
                    <a href="/contactus">Contact us</a></li>
                    <% if(!user){%>
                    <li><a href="/register">register</a></li><li><a href="/login">login</a></li>
                   
                   <% }else{%>
                    <li> <a href="/logout">logout</a></li><li><a href="/profile">my profile</a></li>
                <section2 class="center .userheader" style="color: rgb(52, 34, 131); text-transform:uppercase;">(welcome, <%=user.firstname%>)</section2>
                
                   
                   <% }%>
                </ul>
               </div>
        </div>
</nav>
<header>
    
</header>

<main  class="main ">
   <div class=" logodiv center"> <img class="logo" src="/image/logo.JPG"></div>
    <h2 class="center headtext"> lets take you to your dream destination, your satisfaction is our passion</h2>
    <div class="destinations3  center">
      
        <div class="profilediv center4 ">
            <% if ( errorMessage.length > 0 ) { %>
                <h3 class="flashmessage" style="color: rgb(245, 0, 49);"> <%= errorMessage %> </h3>
              <% } %>
              <% if ( successMessage.length > 0 ) { %>
                <h3 class="flashmessage" style="color: rgb(19, 241, 19)"> <%= successMessage %> </h3>
              <% } %>
            <section class="signuphead center">
            <h2>My dasboard</h2>
            <img class="profilepics" src="<%=user.profilepicture%>" alt="profile pics">
                <h3><%=user.firstname%> <%=user.lastname%></h3>
              
            </section>
            <section class="profileform">
            <form action="#" class="center2" method="POST">
                <div class="loginform center ">
                    <form action="#" class="loginclass" id="loginclass" method="POST">
                        <label for="firstname">firstname</label>
                        <input   id="profileelement" type="text"name="firstname" value="<%=user.firstname%>" disabled>
                        <label for="lastname">lastname</label>
                        <input   id="profileelement" type="text"name="lastname" value="<%=user.lastname%> " disabled>
                        <label for="email">Email</label>
                        <input  id="profileelement"  type="text"name="email" value="<%=user.email%> " disabled>
                        <label for="sex">sex</label>
                        <input   id="profileelement" type="text" name="sex" value="<%=user.sex%>" disabled>
                        <label for="location">location</label>
                        <input  id="profileelement"  type="text" name="location" value="<%=user.location%>" disabled>
                        <label for="aboutme">aboutme</label>
                        <textarea   id="profileelement" type="text" name="aboutme" rows="4" cols="45" disabled><%=user.aboutme%></textarea>
                        <label for="phoneno">phone no.</label>
                        <input  id="profileelement"  type="text" name="phoneno" value="<%=user.phoneno%>" disabled>
                        <label for="bookinghistory">travel bookings:</label>
                   <% for (var i= 0;i<user.bookinghistory.length;i++){%>
                        <input  id="profileelement" style="font-size: smaller;" type="text" name="bookinghistory" value="<%=user.bookinghistory[i].country%> ,ref=<%=user.bookinghistory[i].booking_id%> " disabled>

                        <%}%>
                       
                    
                    <p>reset password</p>
                  <a href="/profile/edit">
                  <button class="signupbtn btn" type="button">edit my profile</button></a>
                </form>
                </div>

    </form> 
</section>
    </div>
</div>
  

</main>
<footer>
    <p class="center">designed by martins chukwuma(talk2mat2@yahoo.com)</p>
    <p class="center">all right reserved, 2020</p>
</footer>
<script type="text/javascript" src="/main.js"></script>
</body>

</html>